@charset "UTF-8";
/* CSS Document */

body {
	margin:0;	
}

.tab-buttons {
	width:100%;	
	margin:0;
}

ul {
	margin:0;
}

li {
	list-style-type:none;	
	display:inline;	
}

#tab-1 {
	background-color:#3FF;
}

#tab-2 {
	background-color:#FFC;
}

#tab-3 {
	background-color:#FCC;
}

#tab-4 {
	background-color:#CFC;
}

#tab-group {
	position:relative;	
}

div {
	margin:0;
	width:100%;
	height:42em;
	position:absolute;
	bottom:0;
}
.current {
	z-index:5;
}

nav a,
nav a:link,
nav a:visited {
	display:inline-block;
	padding:2% 10%;
}
nav a:hover,
nav a:focus,
nav a:active {
	background-color:#ccc;
}